.board {
    display: grid;
    justify-content: space-around;
    align-items: center;
    width: 98vw;
    height: 98vh;
    background-color: blue;
    border-radius: 20px;
    grid-template-columns: repeat(5, 18vw);
    grid-template-rows: repeat(4, 24.5vh);
}

.item {
    height: 90%;
    width: 90%;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
    background-color: lightblue;
    cursor: pointer;
    object-fit: cover;
}